body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}


input, textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #ff4d4d;
}

button {
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}
