body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
}

input, textarea, button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #333;
}

.card {
  background: white;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
}
